body{
    margin: 0;
    background-color:#f3f361;
}

/*#root{
    max-width: 800px;
    padding: 20px 40px;
    box-sizing: border-box;
    margin: 0 auto;
    border: 2px solid #000000;
    background-color: #4fafb7;
}*/

header{
    background-color: #800000;
    width: 100%;
    padding: 20px 0;
}

h1{
    text-align: center;
    margin: 0;
}

div{
    width: 100%;
    margin-bottom: 20px;
}

textarea{
    width: 100%;
}

input[type="number"]{
    margin-left: 20px;
}

.divBotones {
    text-align: center;
}

button{
    margin: 0 20px;
}
/*-------------------------------------pestañas----------------------------------------------*/
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ffff00;
    background-color: #ffff80;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #0000ff;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #00ff00;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border: 1px solid #ffff00;
    border-top: none;
}
